snippet = "<%= $0 %>" i
<%= $0 %>
endsnippet

snippet % "<% $0 %>"
<% $0 %>
endsnippet

snippet end "<% end %>"
<% end %>
endsnippet

snippet each
<% $1.each do |$2| %>
	$0
<% end %>
endsnippet

snippet con "<% content_for $1 do %>...<% end %>"
<% content_for $1 do %>
	$0
<% end %>
endsnippet
